<ion-header>
  <ion-toolbar>
    <ion-title>
     I have friends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p> Ariye Harkham: 347-813-1842</p>
  <p> Damian Juarez: 323-610-4706</p>
  <p> Yunsu Ha: 213-507-5232</p>
  <p> Jack Toubes: 310-270-3512</p>
  <p> Xavier Manolo: 323-717-1650</p>
  <p> Harrison Trucco: 323-637-2911</p>
  <p> Daniel Juarez: 310-654-7809</p>
  <p> Cameron Church: 310-745-7140</p>
  <p> Philip Jeong: 213-663-3120</p>
  <p> Natnael Teffera: 310-819-6838</p>
  I just gave you their numbers
</ion-content>
