<ion-header>
  <ion-toolbar>
    <ion-title>
      About myself
    </ion-title>
  </ion-toolbar>
 </ion-header>
 
 <ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Pic of myself</ion-card-subtitle>
        <ion-card-title><img src="https://files.slack.com/files-pri/T17R4TFAM-FKVNZ3URF/image_from_ios.jpg"></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> Age:15 </p>
        <p> School: Los Angeles Center for Enriched Studies (LACES) </p>
        <p> Bio: Hello my name is Angel Remigio, I am the developer of my team. Not only do I enjoy coding, but I can also technically play 5 instruments. These instruments are the flute, piccolo, trumpet, cornet, and guitar</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>My Favorite Sites</ion-label>
      </ion-list-header>
      <ion-item href="https://www.hulu.com">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Hulu</ion-label>
      </ion-item>
      <ion-item href="https://www.netflix.com/">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Netflix</ion-label>
      </ion-item>
      <ion-item href="https://www.youtube.com/">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Youtube</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label> Didn't know what to put here </ion-label>
      </ion-item>
    </ion-list>
 </ion-content>
 